h1,h2,h3,h4,h5,h6 {
    font-family: "Rubik", sans-serif;
}

body {
    font-family: "Rubik", sans-serif;
}

.navbar {
    padding: .6rem 0;
}

.navbar .logo {
    height: 50px;
}

.navbar.bg-light {
    background: white!important;
}

.panel-jumbo {
    color: white;
    height: 562px;
}

.panel-jumbo video {
    object-fit: cover;
}

.panel-jumbo .wrapper {
    position: relative;
    top: -506px;
    background: rgba(22,22,22,0.7);
    height: 562px;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.panel-jumbo .slogan {
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 62px;
}

.panel-jumbo .outro {
    margin-top: 15px;
    margin-bottom: 2rem;
    font-family: "Satisfy", cursive;
    font-size: 28px;
}

.benefits {
    margin: 70px 0;
}

.benefits img {
    height: 100px;
}

.benefits .title {
    color: #111111;
    /*background-image: linear-gradient(90deg, rgb(247, 7, 80) 0%, rgb(166, 81, 184) 100%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    text-align: center;
}

.benefits .desc {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #777;
    text-align: center;
}

.partners .title {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 70px;
    text-align: center;
    color: #111;
}

.partners {
    width: 70%;
    margin: 0 auto;
}

.partners .sub-title {
    position: relative;
    text-align: center;
    margin: 0;
    top: -40px;
    font-size: 38px;
    font-family: "Satisfy", cursive;
    color: rgb(247, 7, 80);
    background-image: linear-gradient(to right, #ec008c, #fc6767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.partners .desc {
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: center;
    color: #777;
    font-family: "Rubik", sans-serif;
}

.partner-logos {
    margin: 30px 0 0;
}

.partner-logos .table td {
    vertical-align: middle;
    height: 110px;
}

.partner-logos img {
    display: block;
    margin: 0 auto;
    opacity: .4;
}

.testimonials {
    margin: 100px 0;
}

.testimonials .title {
    font-family: "Satisfy", cursive;
    font-size: 55px;
    background-image: linear-gradient(to right, rgba(116, 116, 191, 0.9), rgba(52, 138, 199, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.testimonials .testimonials-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 220px;
    padding: 2rem;
    width: 48.5%;
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(116, 116, 191, 0.9), rgba(52, 138, 199, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

.testimonials .testimonials-wrapper .review {
    font-size: 1.4rem;
    flex: 1 0 300px;
}

.testimonials .testimonials-wrapper .respondent {
    margin-bottom: 0;
    flex: 1 0 300px;
}

.cta-wrapper {
    margin: 100px 0;
    background: #333;
}

.cta {
    padding: 150px 0;
    width: 70%;
    margin: 0 auto;
}

.cta .statement {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    background-image: linear-gradient(to right, #24c6dc, #514a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta .statement-cont {
    color: white;
    font-family: "Satisfy", cursive;
    font-size: 35px;
}

.button.outline {
    border-radius: 30px;
    border: 2px solid white;
    background: transparent;
    padding: .6rem 2.8rem;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.3s;
    color: white;
    text-decoration: none;
}

.button.outline:hover {
    background: white;
    color: #222!important;
}

.button.outline.small {
    padding: .4rem 1rem;
    font-size: .8rem;
}

.button.outline.blue {
    border-color: #3498DB;
    color: #222;
}

.button.outline.blue:hover {
    background: #3498DB;
    color: white!important;
}

.button.outline.gray {
    border-color: #cccccc;
    color: #222;
}

footer {
    padding-bottom: 100px;
}

footer .attribution {
    margin-bottom: 0;
}

footer .owner {
    margin-top: 5px;
}