<div class="container">
    <footer>
        <h6 class="text-center"><strong>GET IN TOUCH</strong></h6>
        <div class="text-center">
            <a href="mailto:panel@i-apaconline.com" class="text-center">Contact</a>
        </div>

        <div class="mb-5"></div>

        <p class="text-center attribution">&copy; Powerr Sample, 2018</p>
        <p class="small text-center owner">A brand of <a href="http://i-apaconline.com" target="_blank">iApac Online</a></p>
    </footer>
</div>

</body>
</html>